html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span, p, h1, h2, h3, h4, div {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #666666;
    box-sizing: border-box; 
}

p {
    margin: 4px 0px;
}


.test {
    background-color: #666666
}

/* 测试分支 */