html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1700px!important;
  min-height: 800px!important;
  overflow:  hidden;
}

span,
p,
h1,
h2,
h3,
h4,
div,
button {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #666666; */
  box-sizing: border-box;
}

p {
  margin: 4px 0px;
  font-size: 14px;
  color: #666666;
}

.test {
  background-color: #666666;
}

.frame-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* i {
  color: #adadad;
  font-size: 18px;
  opacity: 0.9;
  transition: all ease 0.25s;
  cursor: pointer;
} */
/* 测试分支 */

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}


.my-content{
  position: fixed;
  top: 52px;
  left: 230px;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 242, 245)
}

.second-menu {
  position: fixed;
  left: 80px;
  top: 52px;
  bottom: 0;
  width: 150px;
  background-color: rgba(234, 237, 241, 0.6);
  z-index: 99;
  border-right: 1px solid #d9d9d9
}

.s-menu-line {
  width: 100%;
  line-height: 50px;
  /* border-bottom: 1px solid #dcdcdc; */
  background: #f2f2f2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-menu-line:hover .s-menu-text {
  color: #0079fe;
  cursor: pointer;
}

.s-menu-top {
  background: #f2f4f7;
  text-align: center;
}

.s-menu-top i {
  color: #666666
}

.m-t-text {
  color: #666666;
  font-size: 14px;
  font-weight: 700;
}

.s-menu-text {
  font-size: 14px;
  transition: all ease 0.25s;
}

.s-menu-line.router-link-exact-active.router-link-active {
  background-color: #fff;
}

.router-link {
  cursor: pointer;
}

.el-dialog__header {
  text-align: left;
  background-color: #f2f2f2;
  padding: 12px!important;
  border-bottom: 1px solid #d9d9d9;
}

.el-dialog__title {
  font-size: 15px;
  color: #666666;
  font-weight: 700
}

.el-dialog__headerbtn {
  top: 16px;
}

/* .el-input {
  width: 200px;
} */

.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-body {
  position: absolute;
  top: 68px;
  bottom: 20px;
  left: 20px;
  right: 250px;
  overflow: hidden;
}

.el-tabs__content{
  height: 100%;
}